<?xml version="1.0"?>
<psalm
    errorLevel="1"
    findUnusedPsalmSuppress="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    errorBaseline="psalm-baseline.xml"
    cacheDirectory=".cache/psalm"
>
    <projectFiles>
        <directory name="src"/>
        <directory name="tests"/>
        <ignoreFiles>
            <directory name=".github"/>
            <directory name="config"/>
            <directory name="docs"/>
            <directory name="tests/Fixture"/>
            <directory name="vendor"/>
            <file name="ecs.php"/>
            <file name="rector.php"/>
        </ignoreFiles>
    </projectFiles>
    <issueHandlers>
        <MissingConstructor>
            <errorLevel type="suppress">
                <directory name="tests" />
            </errorLevel>
        </MissingConstructor>
    </issueHandlers>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
</psalm>
